@{
    ViewData["Title"] = "Quản lý dự án";
}
<h1 class="h3 mb-3">Dự án</h1>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">Thêm mới dự án</h5>
            </div>
            <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-xl-6">
                            <div class="form-group">
                                <label class="form-label">Mã dự án</label>
                                <input type="text" class="form-control" id="project_code" name="project_code" placeholder="Nhập mã dự án">
                            </div>
                        </div>
                        <div class="col-12 col-xl-6">
                            <div class="form-group">
                                <label class="form-label">Tên dự án</label>
                                <input type="text" class="form-control" id="project_name" name="project_name" placeholder="Nhập tên dự án">
                            </div>
                        </div>
                    </div>
                   
                    <div class="form-group">
                        <label class="form-label">Mô tả</label>
                        <textarea rows="4" class="form-control" id="project_description" name="project_description" placeholder="Nhập mô tả dự án"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="file_attachment">File đính kèm:</label>
                        <input id="file_attachment" class="form-control" type="file" name="file_attachment" value="">
                    </div>
                    <div class="row">
                        <div class="col-12 col-xl-6">
                            <div class="form-group">
                                <label class="form-label">Thời gian bắt đẩu</label>
                                <div class="input-group date" >
                                    <input type="date" id="start_date" class="form-control datetimepicker-input">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-xl-6">
                            <div class="form-group">
                                <label class="form-label">Thời gian kết thúc</label>
                                <div class="input-group date" >
                                    <input type="date" id="end_date" class="form-control datetimepicker-input">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-xl-6">
                            <div class="form-group">
                                <label class="form-label" for="manager">Quản lý dự án:</label>
                                <select class="form-control select2" id="manager" data-toggle="select2">
                                    <option value="">--Chọn quản lý dự án--</option>
                                    @if (ViewBag.lstUsers != null)
                                    {
                                        foreach (var item in ViewBag.lstUsers)
                                        {
                                            <option value="@item.UserCode">@item.UserName</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-xl-6">
                            <div class="form-group">
                                <label class="form-label" for="department">Phòng ban thực hiện:</label>
                                <select class="form-control select2" id="department" data-toggle="select2">
                                    <option value="">--Chọn phòng ban--</option>
                                    @if (ViewBag.lstDepartments != null)
                                    {
                                        foreach (var item in ViewBag.lstDepartments)
                                        {
                                            <option value="@item.DepartmentCode">@item.DepartmentName</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group d-none">
                        <label class="form-label" for="users">Nhân viên thực hiện:</label>
                        <select class="form-control select2" id="users" data-toggle="select2" multiple="">
                            <option value="">--Chọn nhân viên thực hiện--</option>
                            @if (ViewBag.lstUsers != null)
                            {
                                foreach (var item in ViewBag.lstUsers)
                                {
                                    <option value="@item.UserCode">@item.UserName</option>
                                }
                            }
                        </select>

                    </div>
                    <div class="row">
                        <div class="col-12 col-xl-6">
                            <div class="form-group">
                                <label class="form-label" for="priority_level">Mức độ quan trọng:</label>
                                <select class="form-control select2" id="priority_level" data-toggle="select2">
                                    <option value="">--Chọn mức độ--</option>
                                    <option value="IMPORTANT">Quan trọng</option>
                                    <option value="HIGH">Cao</option>
                                    <option value="NORMAL">Bình thường</option>
                                    <option value="LOW">Thấp</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-xl-6">
                            <div class="form-group">
                                <label class="form-label" for="department">Điểm số:</label>
                                <input type="number" class="form-control" id="point" name="point" placeholder="Nhập điểm số">
                            </div>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="w-100">
                            <button onclick="js_AddProject()" class="btn btn-primary float-right">Tạo mới</button>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/Project.js"></script>


