@using System.Data
@model List<ProjectView>
<div class="row" id="list-project-kaban">
	@if(Model != null)
	{
		foreach(var item in Model)
		{
			<div class="col-12 col-md-6 col-lg-3">
				<div class="card">
					<div class="card-header px-4 pt-4">
						<div class="card-actions float-right">
							<div class="dropdown show">
								<a href="#" data-toggle="dropdown" data-display="static">
									<i class="align-middle" data-feather="more-horizontal"></i>
								</a>

								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
								</div>
							</div>
						</div>
						<h5 class="card-title mb-0">@item.ProjectName</h5>
						@if(item.Status == "COMPLETE")
						{
							<div class="badge badge-success my-2">Hoàn thành</div>
						}else if(item.Status == "NEW")
						{
							<div class="badge badge-primary my-2">Mới</div>
						}else if(item.Status == "PROCESSING")
						{
							<div class="badge badge-info my-2">Mới</div>
						}
					</div>
					<div class="card-body px-4 pt-2">
						<p>@item.Description</p>

						<img src="img\avatars\avatar-3.jpg" class="rounded-circle mr-1" alt="Avatar" width="28" height="28">
						<img src="img\avatars\avatar-2.jpg" class="rounded-circle mr-1" alt="Avatar" width="28" height="28">
						<img src="img\avatars\avatar.jpg" class="rounded-circle mr-1" alt="Avatar" width="28" height="28">
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item px-4 pb-4">
							<p class="mb-2 font-weight-bold">Tiến độ <span class="float-right">@item.Process%</span></p>
							<div class="progress progress-sm">
								<div class="progress-bar" role="progressbar" aria-valuenow="@item.Process" aria-valuemin="0" aria-valuemax="100" style="width: @item.Process%;">
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		}
	}
</div>
