@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TaskManagement</title>
    <link rel="stylesheet" href="@Url.Content("~/lib/bootstrap/dist/css/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/site.css")" asp-append-version="true" />
    <link rel="stylesheet" href="@Url.Content("~/TaskManagement.styles.css")" asp-append-version="true" />
    <link rel="stylesheet" href="@Url.Content("~/lib/bootstrap-table/bootstrap-table.min.css")" asp-append-version="true" />
    <link rel="stylesheet" href="@Url.Content("~/lib/font-awesome/fontawesome.min.css")" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
    <!-- PICK ONE OF THE STYLES BELOW -->
    <link href="@Url.Content("~/css/classic.css")" rel="stylesheet">
    <!-- <link href="css/corporate.css" rel="stylesheet"> -->
    <!-- <link href="css/modern.css" rel="stylesheet"> -->
    <!-- BEGIN SETTINGS -->
    <!-- You can remove this after picking a style -->
    <style>
        body {
            opacity: 0;
        }
    </style>
    @* <script src="@Url.Content("~/js/settings.js")"></script> *@
    <!-- END SETTINGS -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-120946860-6"></script>
    <script src="@Url.Content("~/lib/jquery/dist/jquery.min.js")"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-120946860-6');
    </script>
</head>
<body>
    <div class="wrapper">
        <nav id="sidebar" class="sidebar sidebar-sticky">
            <div class="sidebar-content  js-simplebar">
                <a class="sidebar-brand" href="index.html">
                    <i class="align-middle" data-feather="box"></i>
                    <span class="align-middle">Task Management</span>
                </a>

                <ul class="sidebar-nav">
                    <li class="sidebar-item">
                        <a href="/Home" class="sidebar-link ">
                            <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
                        </a>
                    </li>
                    <li class="sidebar-item" id="menu-job">
                        <a href="#pages-task" data-toggle="collapse" class="sidebar-link collapsed">
                            <i class="align-middle" data-feather="layout"></i> <span class="align-middle">Quản lý công việc</span>
                        </a>
                        <ul id="pages-task" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
                            <li class="sidebar-item" id="menu-job-project"><a class="sidebar-link" href="/Project/ListProject">Dự án </a></li>
                            <li class="sidebar-item" id="menu-job-task"><a class="sidebar-link" href="/Task">Công việc</a></li>
                        </ul>
                    </li>
                    <li class="sidebar-item" id="menu-job-statistic">
                        <a href="#pages-statistic" data-toggle="collapse" class="sidebar-link collapsed">
                            <i class="align-middle" data-feather="layout"></i> <span class="align-middle">Báo cáo thống kê</span>
                        </a>
                        <ul id="pages-statistic" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
                            <li class="sidebar-item" id="menu-job-project-statistic"><a class="sidebar-link" href="/ProjectStatistic">Theo dự án </a></li>
                            <li class="sidebar-item" id="menu-job-task-statistic"><a class="sidebar-link" href="/TaskStatistic">Theo công việc</a></li>
                        </ul>
                    </li>
                    <li class="sidebar-item" id="menu-job-user">
                        <a href="#pages-user" data-toggle="collapse" class="sidebar-link collapsed">
                            <i class="align-middle" data-feather="layout"></i> <span class="align-middle">Công việc cá nhân</span>
                        </a>
                        <ul id="pages-user" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
                            <li class="sidebar-item" id="menu-job-project-user"><a class="sidebar-link" href="/ProjectUser">Dự án cá nhân </a></li>
                            <li class="sidebar-item" id="menu-job-task-user"><a class="sidebar-link" href="/TaskUser">Công việc cá nhân</a></li>
                        </ul>
                    </li>
                    <li class="sidebar-item" id="menu-management">
                        <a href="#dashboards" data-toggle="collapse" class="sidebar-link collapsed">
                            <i class="align-middle" data-feather="settings"></i> <span class="align-middle">Quản lý cấu hình</span>
                        </a>
                        <ul id="dashboards" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
                            <li class="sidebar-item" id="menu-management-user"><a href="/User" class="sidebar-link">Quản lý người dùng </a></li>
                            <li class="sidebar-item" id="menu-management-department"><a href="/Department" class="sidebar-link">Quản lý phòng ban</a></li>
                            <li class="sidebar-item" id="menu-management-role"><a href="/Role" class="sidebar-link">Quản lý quyền</a></li>
                            <li class="sidebar-item" id="menu-management-position"><a href="/Position" class="sidebar-link">Quản lý chức vụ</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
        </nav>

        <div class="main">
            <nav class="navbar navbar-expand navbar-light bg-white">
                <a class="sidebar-toggle d-flex mr-2">
                    <i class="hamburger align-self-center"></i>
                </a>

                <form class="form-inline d-none d-sm-inline-block">
                    <input class="form-control form-control-no-border mr-sm-2" type="text" placeholder="Search projects..." aria-label="Search">
                </form>

                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav ml-auto">
                        @* <li class="nav-item dropdown">
                            <a class="nav-icon dropdown-toggle" href="#" id="messagesDropdown" data-toggle="dropdown">
                                <div class="position-relative">
                                    <i class="align-middle" data-feather="message-circle"></i>
                                    <span class="indicator">4</span>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right py-0" aria-labelledby="messagesDropdown">
                                <div class="dropdown-menu-header">
                                    <div class="position-relative">
                                        4 New Messages
                                    </div>
                                </div>
                                <div class="list-group">
                                    <a href="#" class="list-group-item">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-2">
                                                <img src="~/img/avatars/avatar-5.jpg" class="avatar img-fluid rounded-circle" alt="Ashley Briggs">
                                            </div>
                                            <div class="col-10 pl-2">
                                                <div class="text-dark">Ashley Briggs</div>
                                                <div class="text-muted small mt-1">Nam pretium turpis et arcu. Duis arcu tortor.</div>
                                                <div class="text-muted small mt-1">15m ago</div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-2">
                                                <img src="~/img/avatars/avatar-2.jpg" class="avatar img-fluid rounded-circle" alt="Carl Jenkins">
                                            </div>
                                            <div class="col-10 pl-2">
                                                <div class="text-dark">Carl Jenkins</div>
                                                <div class="text-muted small mt-1">Curabitur ligula sapien euismod vitae.</div>
                                                <div class="text-muted small mt-1">2h ago</div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-2">
                                                <img src="~/img/avatars/avatar-4.jpg" class="avatar img-fluid rounded-circle" alt="Stacie Hall">
                                            </div>
                                            <div class="col-10 pl-2">
                                                <div class="text-dark">Stacie Hall</div>
                                                <div class="text-muted small mt-1">Pellentesque auctor neque nec urna.</div>
                                                <div class="text-muted small mt-1">4h ago</div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-2">
                                                <img src="~/img/avatars/avatar-3.jpg" class="avatar img-fluid rounded-circle" alt="Bertha Martin">
                                            </div>
                                            <div class="col-10 pl-2">
                                                <div class="text-dark">Bertha Martin</div>
                                                <div class="text-muted small mt-1">Aenean tellus metus, bibendum sed, posuere ac, mattis non.</div>
                                                <div class="text-muted small mt-1">5h ago</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="dropdown-menu-footer">
                                    <a href="#" class="text-muted">Show all messages</a>
                                </div>
                            </div>
                        </li> *@
                        <li class="nav-item dropdown">
                            <a class="nav-icon dropdown-toggle" href="#" id="alertsDropdown" data-toggle="dropdown">
                                <div class="position-relative">
                                    <i class="align-middle" data-feather="bell"></i>
                                    <span class="indicator">2</span>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right py-0" aria-labelledby="alertsDropdown">
                                <div class="dropdown-menu-header">
                                    2 thông báo mới
                                </div>
                                <div class="list-group">
                                   @*  <a href="#" class="list-group-item">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-2">
                                                <i class="text-danger" data-feather="alert-circle"></i>
                                            </div>
                                            <div class="col-10">
                                                <div class="text-dark">Update completed</div>
                                                <div class="text-muted small mt-1">Restart server 12 to complete the update.</div>
                                                <div class="text-muted small mt-1">2h ago</div>
                                            </div>
                                        </div>
                                    </a> *@
                                    <a href="#" class="list-group-item">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-2">
                                                <i class="text-warning" data-feather="bell"></i>
                                            </div>
                                            <div class="col-10">
                                                <div class="text-dark">Thông báo</div>
                                                <div class="text-muted small mt-1">Bạn đã được "Admin" giao cho một công việc mới!</div>
                                                <div class="text-muted small mt-1">1 tiếng trước</div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-2">
                                                <i class="text-warning" data-feather="bell"></i>
                                            </div>
                                            <div class="col-10">
                                                <div class="text-dark">Thông báo</div>
                                                <div class="text-muted small mt-1">Bạn đã được "Admin" thêm vào một dự án mới!</div>
                                                <div class="text-muted small mt-1">1 tiếng trước</div>
                                            </div>
                                        </div>
                                    </a>
                                  @*   <a href="#" class="list-group-item">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-2">
                                                <i class="text-primary" data-feather="home"></i>
                                            </div>
                                            <div class="col-10">
                                                <div class="text-dark">Login from 192.186.1.1</div>
                                                <div class="text-muted small mt-1">8h ago</div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-2">
                                                <i class="text-success" data-feather="user-plus"></i>
                                            </div>
                                            <div class="col-10">
                                                <div class="text-dark">New connection</div>
                                                <div class="text-muted small mt-1">Anna accepted your request.</div>
                                                <div class="text-muted small mt-1">12h ago</div>
                                            </div>
                                        </div>
                                    </a> *@
                                </div>
                               @*  <div class="dropdown-menu-footer">
                                    <a href="#" class="text-muted">Xem tất cả</a>
                                </div> *@
                            </div>
                        </li>
                       @*  <li class="nav-item dropdown">
                            <a class="nav-flag dropdown-toggle" href="#" id="languageDropdown" data-toggle="dropdown">
                                <img src="~/img/flags/us.png" alt="English">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="languageDropdown">
                                <a class="dropdown-item" href="#">
                                    <img src="~/img/flags/us.png" alt="English" width="20" class="align-middle mr-1">
                                    <span class="align-middle">English</span>
                                </a>
                                <a class="dropdown-item" href="#">
                                    <img src="~/img/flags/es.png" alt="Spanish" width="20" class="align-middle mr-1">
                                    <span class="align-middle">Spanish</span>
                                </a>
                                <a class="dropdown-item" href="#">
                                    <img src="~/img/flags/de.png" alt="German" width="20" class="align-middle mr-1">
                                    <span class="align-middle">German</span>
                                </a>
                                <a class="dropdown-item" href="#">
                                    <img src="~/img/flags/nl.png" alt="Dutch" width="20" class="align-middle mr-1">
                                    <span class="align-middle">Dutch</span>
                                </a>
                            </div>
                        </li> *@
                        <li class="nav-item dropdown">
                            <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-toggle="dropdown">
                                <i class="align-middle" data-feather="settings"></i>
                            </a>

                            <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-toggle="dropdown">
                                <img src="~/img/avatars/avatar.jpg" class="avatar img-fluid rounded-circle mr-1" alt="Chris Wood"> <span class="text-dark">@HttpContextAccessor.HttpContext?.Session.GetString("Username")</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="pages-profile.html"><i class="align-middle mr-1" data-feather="user"></i> Thông tin</a>
                                <a class="dropdown-item" href="/Login/ChangePassword"><i class="align-middle mr-1" data-feather="pie-chart"></i> Đổi mật khẩu</a>
                                <div class="dropdown-divider"></div>
                                <form method="post" asp-controller="Login" asp-action="Logout">
                                    <button type="submit" class="dropdown-item"><i class="mdi mdi-logout text-muted fs-16 align-middle me-1"></i>Đăng Xuất</button>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>


            <main role="main" class="content pb-3">
                <div class="container-fluid p-0">
                    <input type="hidden" id="hfUsername" value="@HttpContextAccessor.HttpContext?.Session.GetString("user_code")" />
                    @RenderBody()
                </div>
            </main>

        </div>
    </div>

    <script src="~/js/app.js"></script>
    <script src="@Url.Content("~/lib/bootstrap/dist/js/bootstrap.bundle.min.js")"></script>
    <script src="@Url.Content("~/js/site.js")" asp-append-version="true"></script>
    <script src="@Url.Content("~/lib/microsoft/signalr/dist/browser/signalr.js")"></script>
    <script src="@Url.Content("~/js/notification.js")"></script>
    <script src="@Url.Content("~/lib/bootstrap-table/bootstrap-table.min.js")" asp-append-version="true"></script>
    <script src="@Url.Content("~/lib/font-awesome/fontawesome.min.js")" asp-append-version="true"></script>
    <script src="@Url.Content("~/lib/moment/min/moment.min.js")" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
